
  <ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Pagina de Logeo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img style="width: 300px; height: 300px;" src="/assets/loginpict.jpg"></ion-img>
    </ion-card>
<form #forma="ngForm">
  <ion-list>
    <ion-item>
      <ion-label>Ingrese su correo:</ion-label>
      <ion-input type = "email" required ngModel #email = "ngModel" name = "email" placeholder="" maxLength = "200" minLength="3" pattern= "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input>
    
     </ion-item>

    <ion-item id>
        <ion-label>Contraseña:</ion-label>
        <ion-input type = "password" required ngModel #password = "ngModel" name = "password" placeholder = "" maxLength = "200" minLength = "3"></ion-input> 

    </ion-item>
  </ion-list>
<ion-list>
      <ion-button expand="full" fill="solid" [disabled] = "!forma.valid" (click)="login(forma)">Ingreso</ion-button>
    </ion-list>
    </form>
</ion-content>

  
