<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img style="height:600px ;widht:200px" src="/assets/chazam.jpg"></ion-img>
    <p>¡Shazam! (en inglés: Shazam!) es una película estadounidense perteneciente al género de super héroes basada en el personaje de DC Comics del mismo nombre.
       Es la séptima entrega dentro del Universo extendido de DC Comics (DCEU). La película está dirigida por David F. Sandberg a partir de un guion de Henry Gayden y una historia de Gayden y Darren Lemke. La película está protagonizada por Asher Angel como Billy Batson, un adolescente que puede transformarse mediante la palabra mágica «Shazam» en un superhéroe adulto, interpretado por Zachary Levi. 
       !Shazam! también presenta a Mark Strong, Jack Dylan Grazer, Grace Fulton, Ian Chen, Jovan Armand, Faithe Herman y Djimon Hounsou como personajes secundarios.
        Será la primera versión cinematográfica del personaje desde Adventures of Captain Marvel (el nombre original del personaje) y será el primer largometraje centrado en el personaje.</p>

</ion-content>
