.welcome-card ion-img {
  max-height: 45vh;
  overflow: hidden;
}
.parrafo {
  font-family:'time new roman'
}
ion-img {
  width: 100px;
   height: 100px
}

p{
  background: #444;
  color: #fff;
  padding: 10px;
}
