<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/dumbo.jpg" style="height:400px ;width:600px ;"></ion-img>
  <p>Dumbo es una película de aventuras y fantasía estadounidense dirigida por Tim Burton, con un guion escrito por Ehren Kruger. 
    Está basada en el relato homónimo escrito por Helen Aberson y Harold Pearl, y es en gran parte una adaptación de la película animada de 1941 de Walt Disney del mismo nombre. 
    Está protagonizada por Colin Farrell, Eva Green, Michael Keaton, Danny DeVito y Alan Arkin. La película fue estrenada el 29 de marzo de 2019.</p>
</ion-content>
